.title {
    font-size: 23px;
    font-weight: 700;
    color: $white;
    opacity: 0.9;
  }
  
  .daily-item {
    background-color: $white;
    border-radius: 15px;
    margin: 5px auto;
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 5px 10px; 
    max-height: 50px;

    @include media ('>=428px') {
      padding: 5px 20px;       
      } 
  }
  
  .icon-small {
    width: 40px;
    animation: pulse 4s infinite;
  }
  
  .daily-item .day {
    cursor: inherit;
    color: $black;
    flex: 1 1;
    font-weight: 500;
    font-size: 14px;  

    @include media ('>=428px') {
      font-size: 18px;  
      margin-left: 10px;        
      } 
  }
  
  .description {
    cursor: inherit;
    flex: 1 1;
    margin-right: 15px;
    font-size: 14px; 
    text-align: right;
    color: $black;

    @include media ('>=428px') {
      font-size: 16px;         
      } 
  }
  
  .forecast-temperature {
    color: $lightgrey; 
    font-size: 14px; 

    @include media ('>=428px') {
      font-size: 16px;         
      } 
  }
  
  .daily-details-grid {
    grid-row-gap: 0;
    column-gap: 5px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px;
    row-gap: 0;
    background-color: $bggrey;
    opacity: 0.9;
    border-radius: 15px;
  }
  
  .daily-details-grid-item {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 5px;
  }
  
  .daily-details-grid-item label:first-child {
    color: $white;
    font-size: 14px;  

    @include media ('>=428px') {
      font-size: 16px;        
      } 
  }
  
  .daily-details-grid-item label:last-child {
    color: $lightgrey;
    font-size: 12px;  
    padding-left: 2px;
    text-align: right;

    @include media ('>=428px') {
      font-size: 16px;      
      } 
  }